{#<nav class="nav">
	<a class="nav-link active" aria-current="page" href="#">Active</a>
	<a class="nav-link" href="#">Link</a>
	<a class="nav-link" href="#">Link</a>
	<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
</nav>#}





	<ul class="leader list-group list-group-flush list-group-numbered ">

		{% for card in leader %}

			{% set arr_property = card.category_section_field|json_decode %}

			<li class="list-group-item bg-transparent border-0 text-truncate rounded-5">

				<a href="{{ path('products-product:user.detail', { url: card.url,
					offer : card.product_offer_value,
					variation : card.product_variation_value,
					modification : card.product_modification_value
				}) }}"
				   class="text-decoration-none text-dark "
				   title="{{ card.product_name }}"
				>
					{{ card.product_name }}

					{# Значение торгового предложения #}
					{{ card.product_offer_value|call_twig_func(card.product_offer_reference~'_render') ~
					card.product_variation_value|call_twig_func(card.product_variation_reference~'_render') }}

					{# Значение модификации множественного варианта ТП #}
					{{ card.product_modification_value|call_twig_func(card.product_modification_reference~'_render') }}

					{# Свойства, учавствующие в названии #}
					{% for name_property in arr_property | filter(props => props.field_name == true) %}
						{{ name_property.field_value|call_twig_func(name_property.field_type) }}
					{% endfor %}
				</a>
			</li>
		{% endfor %}

	</ul>
