<button

        class="btn btn-link  text-decoration-none"
        id="user-menu"

        data-bs-container="body"
        data-bs-toggle="popover"
        data-bs-placement="bottom"
        data-bs-trigger_="onfocus"
        data-bs-trigger="click"
        {# data-bs-content="Bottom popover" #}
        style="width: 100px;"
>


    {% if app.user.profile %}

        {% set img_path = app.user.profile.avatar_cdn == true ? cdn_host : '' %}
        {% set img_min = app.user.profile.avatar_cdn == true ? 'small.' : '' %}

        <span class="icon rounded-2 bg-contain lazy p-1"
              style="width: 43px; height: 43px;"
              data-bg="{{ app.user.profile.avatar_name ? img_path ~ profile_avatar_dir ~ app.user.profile.avatar_dir ~'/'~ app.user.profile.avatar_name ~'.'~ img_min ~ app.user.profile.avatar_ext : '/assets/img/blank.svg' }}"
        ></span>

    {% else %}

        <span class="icon rounded-2 ">
             <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                  class="text-muted" viewBox="0 0 16 16">
              <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
            </svg>
	</span>
    {% endif %}

</button>




{# title: function() {
return $('.select_box').html();
}, #}


<div id="user-menu-title" class="d-none">

    <div class="dropdown">
    {% if app.user.profile %}

            <a class="btn btn-link dropdown-toggle w-100 text-dark text-decoration-none" href="#"
               role="button" data-bs-toggle="dropdown"
               aria-expanded="false"
            >
                <div class="w-100 float-start text-start">
                    {{ app.user.profile.username }}

                    {# Тип профиля пользователя #}
                    {% if app.user.profile.profile_type is defined %}
                        <span class="badge bg-light text-dark fw-bolder fs-8 px-2 py-1 ms-2">
								{{ app.user.profile.profile_type }}
							</span>
                    {% endif %}

                    <div class="text-muted small">
                        {{ app.user.profile.email }}
                    </div>
                </div>


            </a>

            <ul class="dropdown-menu w-100">


                <li class="dropdown-item small">
                    <a href="#" class="text-decoration-none text-dark w-100"
                       title="{{ 'user.page'|trans({}, 'user.account') }}">
                        {{ 'user.page'|trans({}, 'user.account') }}
                </li>

                <li class="dropdown-item small">
                    <a class="text-decoration-none text-dark w-100"
                       href="{{ path('UserProfile:user.index') }}">
                        Профили
                    </a>
                </li>

                <li>
                    <hr class="dropdown-divider">
                </li>


                {% if user_profiles|length > 1 %}

                    <li class="dropdown-header small">
                        Применить профиль
                    </li>

                {% endif %}

                {% for profil in user_profiles %}

                    {% if app.user.profile and app.user.profile.username != profil.username %}
                        <li>
                            <a class="dropdown-item"
                               href="{{ path('UserProfile:user.activate', { id: profil.event }) }}">
                                {{ profil.username }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}

            </ul>

    {% else %}


        <a class="btn btn-link  w-100 text-dark text-decoration-none"
           href="#"
           role="button"
           aria-expanded="false"
        >
            <div class="w-100 float-start text-start">


                {# Тип профиля пользователя #}

                    <span class="badge bg-light text-dark fw-bolder fs-8 px-2 py-1 ms-2">
								Пользователь
							</span>


                <div class="text-muted small">
                    3333333333333
                </div>
            </div>


        </a>

    {% endif %}


        </div>

    <ul class="leader list-group list-group-flush w-250px small">
        <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent border-0 text-truncate rounded-5">

            <a href="{# {{ path('Orders:user.orders') }} #}"
               class="text-decoration-none text-dark w-100 fw-normal lh-normal"
               title="Корзина">
                Корзина
            </a>

            <span class="badge bg-primary rounded-pill lh-normal">24</span>
        </li>
    </ul>


</div>


<div id="user-menu-content" class="d-none">

    {# {% if app.user.profile %}

        <div class="menu-content d-flex align-items-center px-3 mb-3">


            <div class="d-flex flex-column">
                <div class="fw-bolder d-flex align-items-center">


                    {% if app.user.profile.user_profile_event is defined %}
                        <a href="{{ path('UserProfile:user.newedit.edit', { id : app.user.profile.user_profile_event }) }}"
                           class="text-dark text-decoration-none">
                            {{ app.user.profile.username }}
                        </a>
                    {% else %}
                        <a href="{{ path('UserProfile:user.index') }}" class="text-dark text-decoration-none">
                            {{ app.user.profile.user_email }}
                        </a>
                    {% endif %}
    #}{# Тип профиля пользователя #}{#
    {% if app.user.profile.profile_type is defined %}
        <span class="badge bg-light text-dark fw-bolder fs-8 px-2 py-1 ms-2">
                {{ app.user.profile.profile_type }}
            </span>
    {% endif %}

</div>
<span class="text-muted small">
    {{ app.user.profile.email }}
</span>


</div>
<!--end::Username-->


</div>

{% endif %} #}

    <ul class="leader list-group list-group-flush w-250px">


        <li class="list-group-item d-flex justify-content-between bg-transparent border-0 text-truncate rounded-5">
            <a href="/detail" class="text-decoration-none text-dark w-100"
               title="Избранные товары">
                Избранные товары</a>

            <span class="badge bg-primary rounded-pill lh-normal">5</span>
        </li>

        <li class="list-group-item d-flex justify-content-between bg-transparent border-0 text-truncate rounded-5">
            <a href="/detail" class="text-decoration-none text-dark w-100"
               title="Просмотренные">
                Просмотренные</a>

            <span class="badge bg-primary rounded-pill lh-normal">7</span>
        </li>

        {# ******************************* #}
        <li class="list-group">
            <hr>
        </li>


        <li class="list-group-item d-flex justify-content-between bg-transparent border-0 text-truncate rounded-5">
            <a href="/detail" class="text-decoration-none text-dark w-100"
               title="История покупок">
                История покупок</a>
        </li>

        <li class="list-group-item d-flex justify-content-between bg-transparent border-0 text-truncate rounded-5">
            <a href="/detail" class="text-decoration-none text-dark w-100"
               title="Отзывы">
                Отзывы</a>
        </li>


        {# ******************************* #}
        <li class="list-group">
            <hr>
        </li>

        <li class="list-group-item d-flex justify-content-between bg-transparent border-0 text-truncate rounded-5">
            <a href="{{ path('AuthEmail:user.logout') }}" class="text-decoration-none text-dark w-100"
               title="Выход">
                Выход</a>
        </li>

        {# <li class="list-group-item d-flex justify-content-between align-items-center">
                                    A list item
                                    <span class="badge bg-primary rounded-pill">14</span>
                                </li> #}

    </ul>
</div>