<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Baks Development">

    <title>{% block title %}{{ baks_settings.headers.title }}{% endblock %}</title>

    <link rel="icon" href="/assets/{{ version }}/img/favicon/favicon.ico">
    <link href="/assets/{{ version }}/plugins/bootstrap/5.3.3/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/{{ version }}/css/style.min.css" rel="stylesheet">

    {% block stylesheets %}{% endblock %}

</head>

<body>

{# Определяем глобальные переменные локали и версии проекта #}
<script nonce="{{ csp_nonce() }}">
    const $version = '{{ version }}';
    const $locale = '{{ app.request.getLocale() }}';
</script>

{% block header %}
    {{ include(_self|replace({ "base.html.twig": baks_settings.device~"/header.html.twig" })) }}
{% endblock %}

{% block content %}{% endblock %}

<script nonce="{{ csp_nonce() }}">
    window.lazyLoadOptions = {};
    window.bootstrap = false;
</script>

<script nonce="{{ csp_nonce() }}" async src='/assets/{{ version }}/js/lazyload.min.js'></script>
<script nonce="{{ csp_nonce() }}" data-src="/assets/{{ version }}/plugins/bootstrap/5.3.3/bootstrap.bundle.min.js"
        class="lazy"></script>
<script nonce="{{ csp_nonce() }}" data-src='/assets/{{ version }}/js/script.min.js' class="lazy"></script>

{% block javascript %}{% endblock %}

{% block footer %}{% endblock %}

{# TOAST УВЕДОМЛЕНИЯ ****************************************************** #}
{% include Template('/_includes/'~baks_settings.device~'/flash.html.twig') %}
{# END УВЕДОМЛЕНИЯ ****************************************************** #}

{# Блок модального окна #}
<div class="modal fade" tabindex="-1" id="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="d-flex justify-content-center w-100">
            <div class="spinner-border text-light" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>

{% include Template('/_includes/'~baks_settings.device~'/scroll-buttons.html.twig') %}

{# Блок печати #}
<div id="prnt" class="d-none d-print-block"></div>

</body>
</html>
