<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Baks Development">

    <title>{% block title %}{{ baks_settings.headers.title }}{% endblock %}</title>

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <link rel="icon" href="/assets/{{ version }}/img/favicon/favicon.ico">
    <link href="/assets/{{ version }}/plugins/bootstrap/5.3.3/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/{{ version }}/css/style.min.css" rel="stylesheet">

    {# Определяем глобальные переменные локали и версии проекта #}
    <script nonce="{{ csp_nonce() }}">
        const $version = '{{ version }}';
        const $locale = '{{ app.request.getLocale() }}';
    </script>


    {% block stylesheets %}{% endblock %}

</head>

<body>

{% block header %}
    {{ include(_self|replace({ "base.html.twig": baks_settings.device~"/header.html.twig" })) }}
{% endblock %}

{% block content %}{% endblock %}

<script nonce="{{ csp_nonce() }}">
    window.lazyLoadOptions = {};
    window.bootstrap = false;
</script>

<script nonce="{{ csp_nonce() }}" data-src="/assets/{{ version }}/plugins/bootstrap/5.3.3/bootstrap.bundle.min.js"
        class="lazy"></script>
<script nonce="{{ csp_nonce() }}" data-src='/assets/{{ version }}/js/script.min.js' class="lazy"></script>

{# Профили #}

{% if constant('BaksDev\\Users\\Profile\\UserProfile\\BaksDevUsersProfileUserProfileBundle::PATH') is defined %}

    <script nonce="{{ csp_nonce() }}">

        // профиль текущего пользователя
        {% if baks_profile.current is defined %}

        window.current_profile = "{{ baks_profile.current }}";

        // профиль доверености (магазин)
        {% if baks_profile.id is defined and baks_profile.id !== baks_profile.current %}
        window.profile_id = "{{ baks_profile.id }}";
        {% endif %}

        {% endif %}

    </script>

{% endif %}


{# Сокеты #}

{% if constant('BaksDev\\Centrifugo\\BaksDevCentrifugoBundle::PATH') is defined %}

    <script nonce="{{ csp_nonce() }}">
        window.centrifugo_dsn = "{{ centrifugo_dsn }}";
        window.centrifugo_token = "{{ centrifugo_user_token() }}";
    </script>

    <script nonce='{{ csp_nonce() }}' async
            data-src="/assets/{{ version }}/centrifugo/centrifuge.min.js?v={{ version }}"
            class='lazy'></script>

    <script nonce='{{ csp_nonce() }}' async
            data-src="/assets/{{ version }}/centrifugo/socket.min.js?v={{ version }}"
            class='lazy'></script>

    <script nonce='{{ csp_nonce() }}' async
            data-src="/assets/{{ version }}/centrifugo/centrifuge.notification.min.js?v={{ version }}"
            class='lazy'></script>
{% endif %}


{% block javascript %}{% endblock %}

{% block footer %}{% endblock %}

{# TOAST УВЕДОМЛЕНИЯ #}
{% include Template('/_includes/'~baks_settings.device~'/flash.html.twig') %}

{# Блок модального окна data-bs-backdrop #}
<div class="modal fade" tabindex="-1" id="modal" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content border-0 bg-transparent shadow-none">
            <div class="d-flex justify-content-center w-100">
                <button type="button" class="btn btn-link w-100" style="min-height: 500px;" data-bs-dismiss="modal">
                    <div class="spinner-border text-light" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>

{% include Template('/_includes/'~baks_settings.device~'/scroll-buttons.html.twig') %}

{# Инициализируем Lazy скрипты  #}
<script nonce="{{ csp_nonce() }}" async src='/assets/{{ version }}/js/lazyload.min.js'></script>

{# Блок печати #}
<div id="prnt" class="d-none d-print-block"></div>

</body>
</html>
